.resumo-sobre {
  justify-content: center;

  .title {
    text-align: center;
  }

  .text {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .img {
    img {
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
