@use "header";
@use "resumo-sobre";
@use "variaveis";
@use "nav";
@use "apresentacao";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: variaveis.$cor-1;
}

.text {
  font-size: 18px;

  &--big {
    font-size: 24px;
  }
}

.title {
  font-size: 24px;

  &--big {
    font-size: 42px;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
